@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  width: 400px;
  text-align: center;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
}

#display p, span {
  width: 100%;
}

#quote {
  text-align: center;
}

#author {
  text-align: right;
}

#button {
  color: white;
  font-weight: bold;
  height: 30px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}
